@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('InterRegular'),
        url('../fonts/InterRegular.woff2') format('woff2'),
        url('../fonts/InterRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: local('Inter Medium'), local('InterMedium'),
        url('../fonts/InterMedium.woff2') format('woff2'),
        url('../fonts/InterMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: local('Inter Semi Bold'), local('Inter-SemiBold'),
        url('../fonts/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: local('Inter Bold'), local('InterBold'),
        url('../fonts/InterBold.woff2') format('woff2'),
        url('../fonts/InterBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: local('Inter Extra Bold'), local('InterExtraBold'),
        url('../fonts/InterExtraBold.woff2') format('woff2'),
        url('../fonts/InterExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display Italic';
    src: local('Playfair Display Italic Regular'), local('playfairdisplayitalic'),
        url('../fonts/playfairdisplayitalic.woff2') format('woff2'),
        url('../fonts/playfairdisplayitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display Bold';
    src: local('Playfair Display Bold'), local('playfairdisplaybold'),
        url('../fonts/playfairdisplaybold.woff2') format('woff2'),
        url('../fonts/playfairdisplaybold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}