.form-group.row {
    margin: 0 -4px;
    .form__block.col {
        padding: 0 4px;
        margin-bottom: 20px;
    }
}
.content-form {
    margin-top: 37px;
    .form__block {
        position: relative;
        width: 100%;
        input, textarea {
            background: transparent;
            font-weight: 400;
            font-size: 1.3rem;
            font-family: 'Inter', sans-serif;
            color: #000;
            display: block;
            width: 100%;
            padding: 0 10px 0 30px;
            @include link-transition();
            border-radius: 50px;
            border: 1px solid #dcdcdc;
            &:hover, &:focus {
                background: transparent;
            }
        }
        input {
            height: 63px;
            line-height: 62px;
        }
        textarea {
            text-align: left;
            min-height: 120px;
            max-height: 120px;
            min-width: 100%;
            max-width: 100%;
            padding: 14px 10px 10px 15px;
        }
    }
    .form__block--textarea {
        input {
            height: 67px;
            line-height: 66px;
        }
    }
    .content-form__btn {
        margin-top: 45px;
        text-align: center;
    }
    .btn {
        font-weight: 700;
        font-size: 2rem;
        height: 57px;
        padding: 0 60px;
        line-height: 57px;
        border-radius: 50px;
    }
}
/*.form__block input:hover, .form__block textarea:hover, .form__block input:focus, .form__block textarea:focus {
    background: #fff;
}*/
::-webkit-input-placeholder {
    font-size: 1.3rem;
    color: #000;
    opacity: 1;
}
:-moz-placeholder {
    font-size: 1.3rem;
    color: #000;
    opacity: 1;
}
::-moz-placeholder {
    font-size: 1.3rem;
    color: #000;
    opacity: 1;
}
:-ms-input-placeholder {
    font-size: 1.3rem;
    color: #000;
    opacity: 1;
}
@media (max-width: 720px) {
    .content-form {
        margin-top: 27px;
        .form__block {
            input, textarea {
                font-size: 1.2rem;
                padding-left: 20px;
            }
            input {
                height: 47px;
                line-height: 46px;
            }
        }
        .form__block--textarea {
            input {
                height: 49px;
                line-height: 48px;
            }
        }
        .content-form__btn {
            margin-top: 34px;
        }
        .btn {
            font-size: 1.5rem;
            height: 42px;
            line-height: 42px;
            padding: 0 45px;
        }
    }
    .form-group.row {
        margin: 0 -3px;
        .form__block.col {
            padding: 0 3px;
            margin-bottom: 15px;
        }
    }
    ::-webkit-input-placeholder {
        font-size: 1.2rem;
    }
    :-moz-placeholder {
        font-size: 1.2rem;
    }
    ::-moz-placeholder {
        font-size: 1.2rem;
    }
    :-ms-input-placeholder {
        font-size: 1.2rem;
    }
}
@media (max-width: 500px) {
    .content-form {
        .form-group.row {
            margin: 0;
            .form__block.col {
                flex: 0 0 100%;
                padding: 0;
                margin-bottom: 10px;
            }
        }
        .content-form__btn {
            margin-top: 27px;
        }
    }
}